body {
  background-color: #0d0d0d;
  color: silver;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.item-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.item-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  color: silver;
}
